<!DOCTYPE html>
<html>
  <head>
    <title>Wild.php</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Wild.php</h1>
    <p>A la Wild Code School on code en CHAUSSETTE.</p>
  </body>
</html>
